*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar-nav{
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
padding-right: 80px;
}
.skew-bg{
    position: absolute;
    left: 260px;
    width: 200px;
    height: 0;
    border-top: 700px solid #760000;
    border-left: 1000px solid transparent;
}
a{
    color: #fff;
}
.sleep-img{
    margin-top: 100px;
    background: url(../images/undraw_sleep_analysis_o5f9\ 1.svg) no-repeat;
    background-size: cover;
    position: absolute;
    padding-left: 40px;
    width: 600px;
    height: 500px;
}
.text{
    position: relative;
    top: 85px;
    margin-left: 460px;
    font-size: 18px;
    width: 500px;
}
h2{
    line-height: 60px;
}
span{
    color: #fff;
}
.subscribe{
    margin-top: 120px;
}
#email{
    border: 1px solid #193D5D;
    border-radius: 60px;
    background: transparent;
    padding: 5px 25px;
    width: 330px;
}
.sub-btn{
    margin-top: 40px;
    width: 330px;
    text-align: center;
    background-color: #F9A826;
    border-radius: 60px;
    border: 1px solid #F9A826;
    font-weight: 600;
    padding: 6px 0;
}