*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar-nav{
    font-family: Muli;
font-style: normal;
font-weight: normal;
padding-right: 80px;
}
.skew-bg{
    position: absolute;
    left: 260px;
    width: 200px;
    height: 0;
    border-top: 1000px solid #760000;
    border-left: 1000px solid transparent;
}
a{
    color: #fff;
}
.sleep-img{
    background: url(../images/undraw_sleep_analysis_o5f9\ 1.svg) no-repeat;
    background-size: cover;
    position: absolute;
    padding-left: 40px;
    width: 600px;
    height: 500px;
}
.text{
    position: relative;
    top: 85px;
    margin-left: 460px;
    font-size: 18px;
    width: 500px;
}
span{
    color: #fff;
}